body {
    background-color: #f3dee9;
}

/* #main_wrapper {} */

#content_wrapper {
    max-width: 1200px;
    min-width: 800px;
    width: 75%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 25px;
    border: solid #000000 1px;
    background-color: #ffffff;
}

/* #main_title {} */
.main_block {
    margin: 20px 20px 20px 20px;
}

#footer_about {
    margin: 15px auto;
    width: max-content;
    text-align: center;
}

/* #footer_links {
    text-align: center;
} */


.loading_err_label {
    color: red;
}